@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    font-size:10px;
    scroll-behavior: smooth;
    color: #093669;
}

a {
    text-decoration: none;
    color: #093669;
}

ul {
    list-style-type: none;
}

li {
    margin: 1rem 0;
}

button {
    cursor: pointer;
}