* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size:10px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li {
    margin: 1rem 0;
}

button {
    cursor: pointer;
}